@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-variant-numeric: tabular-nums;
}
